@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
}

#page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 48px;
  column-gap: 96px;
}

.player-board {
  display: grid;
  margin: 24px;
  grid-template-columns: repeat(11, 32px);
  grid-template-rows: repeat(11, 32px);
  width: 320px;
  height: 320px;
}

.board-label {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.battlefield-cell {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  border: 1px solid #b4b4ff;
  height: 32px;
  width: 32px;
}

.battlefield-cell:hover {
  cursor: pointer;
}

.ship-box {
  background-color: #7878c9;
}

.hit {
  background-color: lightcoral;
}

.hit::after {
  display: inline-block;
  content: '\274c'; /* This will render the 'X' */
}

.miss {
  background: transparent;
}

.miss::after {
  display: inline-block;
  content: '●'; /* This will render the 'X' */
}

#resultsBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
  margin: 48px;
}
